/target
/classes
/checkouts
/legacy
pom.xml
pom.xml.asc
*.jar
*.class
.hgignore
.hg/
*.iml
.idea/
target/
logs
.DS_Store
Procfile
figwheel_server.log
*jar
/lib/
/classes/
/target/§
/checkouts/
/.lein-*
.lein-env
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
*.iml
_checkouts
resources/public/js/compiled