@import 'bourbon'; // http://bourbon.io/

@import './partials/_variables'; // colors, fonts etc...

@import './partials/_mixins'; // custom mixins

@import './partials/_layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $content;
	background-color: $background;
	@include font-smoothing;
}

a {
	color: $color-1;
	text-decoration: none;
}

/* -------------------------------- 

Slideshow 

-------------------------------- */

.cd-slideshow-wrapper {
	overflow: hidden;
}

.cd-slideshow {
	position: relative;

	li {
		position: relative;
		z-index: 1;
		height: 100vh;
		width: 100vw;
		@include clearfix;
	}
}

/* -------------------------------- 

Slide Content

-------------------------------- */

.cd-slider-content {
	position: relative;
	height: 100vh;
	width: 100vw;
	float: left;
	display: table;

	.content-wrapper {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}


	h2 {
		font-size: 3rem;
		color: $content;
	}

	p {
		margin: 1em 0 2em;
		opacity: .6;
	}

}