@font-face {
  font-family: elektra_light_proregular;
  src: url('/fonts/elektralight-webfont.woff2') format('woff2'),
                                   url('/fonts/elektralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: elektra_text_probold;
  src: url('/fonts/elektratextbold-webfont.woff2') format('woff2'),
                                   url('/fonts/elektratextbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: elektra_light_proregular;
  color: #ffffff;
  background-color: #303030;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.cd-slideshow-wrapper {
  overflow: hidden;
}

.cd-slideshow {
  position: relative;
}

.cd-slideshow .sub-slides {
  width: 100%;
}

.cd-slideshow .sub-slides {
*zoom: 1;
}

.cd-slideshow .sub-slides:before, .cd-slideshow .sub-slides:after {
  display: table;
  content: "";
  line-height: 0;
}

.cd-slideshow .sub-slides:after {
  clear: both;
}

.cd-slideshow li {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.cd-slideshow li {
*zoom: 1;
}

.cd-slideshow li:before, .cd-slideshow li:after {
  display: table;
  content: "";
  line-height: 0;
}

.cd-slideshow li:after {
  clear: both;
}

.cd-slider-content {
  position: relative;
  height: 100vh;
  width: 100%;
  float: left;
  display: table;
}

.cd-slider-content .content-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.cd-slider-content h2, .cd-slider-content h1 {
  font-size: 10rem;
  color: #ffffff;
}

.cd-slider-content h3 {
  font-size: 10rem;
  color: #ffffff;
  font-family: elektra_text_probold;
}

.cd-slider-content h4 {
  font-size: 8rem;
  color: #ffffff;
}

.cd-slider-content p {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 2em;
  margin-left: 0;
  opacity: 0.6;
}